
# =========================
venv/
env/
.env
.venv/


# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp
*.swo


# =========================
# Django Secret & ENV
# =========================
.env.*
*.env


# =========================
# Cache
# =========================
.cache/
