
{% load static %}
{% load i18n %}
<!--progress start-->


<section id="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="section-title">
          <h2 class="title">{% trans "about" %} <span>{{ about.title }}</span></h2>
          <p class="mb-0">{{ about.description|safe }}</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="col-md-6 pe-2">
              {% if who_we_are.image_1 %}
              <div class="about-img mb-3">
                <img class="img-fluid" src="{{ who_we_are.image_1.url }}" alt="{{ who_we_are.title }}">
              </div>
              {% endif %}

              {% if who_we_are.image_2 %}
              <div class="about-img">
                <img class="img-fluid" src="{{ who_we_are.image_2.url }}" alt="{{ who_we_are.title }}">
              </div>
              {% endif %}
            </div>

            <div class="col-md-6 mt-4 ps-2">
              {% if who_we_are.image_3 %}
              <div class="about-img mb-3">
                <img class="img-fluid" src="{{ who_we_are.image_3.url }}" alt="{{ who_we_are.title }}">
              </div>
              {% endif %}

              {% if who_we_are.image_4 %}
              <div class="about-img">
                <img class="img-fluid" src="{{ who_we_are.image_4.url }}" alt="{{ who_we_are.title }}">
              </div>
              {% endif %}
            </div>
          </div>

      </div>
      <div class="col-lg-6 col-md-12 box-shadow white-bg p-md-4 p-3 mt-5 mt-lg-0">
        <h5>{% trans "What We Do" %} {{ who_we_are.title }}</h5>
        <p class="line-h-3">{{ who_we_are.description|safe }}</p>


        <div class="row text-black mt-4">
          <div class="col-sm-6">
            <ul class="list-unstyled">
              {% for item in who_we_are.features.all %}
                {% if item.column == 1 %}
                <li class="mb-2">- {{ item.name }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-sm-6 mt-3 mt-sm-0">
            <ul class="list-unstyled">
              {% for item in who_we_are.features.all %}
                {% if item.column == 2 %}
                <li class="mb-2">- {{ item.name }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!--progress end-->
