
{% load static %}
{% load i18n %}
<!--progress start-->

<section class="dark-bg position-relative">
  <div class="side-background side-image">
    <div class="row">
      <div class="col-lg-6 img-side img-left" style="background: url(images/bg/08.jpg) no-repeat left center; background-size: cover;"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 ms-auto ps-lg-5">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title mb-4">
              <h2 class="title">about Our <span>Company</span></h2>
            </div>
            <p class="line-h-3 text-white">Misto have facility to produce adipisicing elit, Excepturi vero aliquam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit, Excepturi vero minima impedit aliquam id. consectetur adipisicing elit, impedit aliquam id. consectetur adipisicing elit, technologicaly changes and industrial systems.</p>
            <div class="row">
              <div class="col-md-12">
                <div class="ht-progress-bar">
                  <h4>Contracting</h4>
                  <div class="progress" data-value="88">
                    <div class="progress-bar progress-bar-striped progress-bar-animated">
                      <div class="progress-parcent"><span>88</span>%</div>
                    </div>
                  </div>
                </div>
                <div class="ht-progress-bar">
                  <h4>Plumbing</h4>
                  <div class="progress" data-value="75">
                    <div class="progress-bar progress-bar-striped progress-bar-animated">
                      <div class="progress-parcent"><span>75</span>%</div>
                    </div>
                  </div>
                </div>
                <div class="ht-progress-bar">
                  <h4>Electrical</h4>
                  <div class="progress" data-value="98">
                    <div class="progress-bar progress-bar-striped progress-bar-animated">
                      <div class="progress-parcent"><span>98</span>%</div>
                    </div>
                  </div>
                </div>
                <div class="ht-progress-bar">
                  <h4>Building</h4>
                  <div class="progress" data-value="80">
                    <div class="progress-bar progress-bar-striped progress-bar-animated">
                      <div class="progress-parcent"><span>80</span>%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--progress end-->
