

{% load static %}
{% load i18n %}


<!--blog start-->

<section id="blog">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="section-title">
          <h2 class="title">Latest <span> News</span></h2>
          <p class="mb-0">Latest News For Our Solution Services for elit. Excepturi vero aliquam id. Lorem ipsum dolor amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="post">
          <div class="post-image">
            <img src="{% static 'images/blog/01.jpg' %}" alt="">
            <div class="post-date">23 April, 2019</div>
          </div>
          <div class="post-desc">
            <div class="post-title">
              <h5><a href="blog-details-right-sidebar.html">The engineer of industrial</a></h5>
            </div>
            <p>Cras ultricies ligula sed magna dictum porta, Sed ut perspiciatis unde omnis iste natus error sit voluptat</p>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 mt-5 mt-lg-0">
        <div class="post">
          <div class="post-image">
            <img src="{% static 'images/blog/02.jpg' %}" alt="">
            <div class="post-date">23 April, 2019</div>
          </div>
          <div class="post-desc">
            <div class="post-title">
              <h5><a href="blog-details-right-sidebar.html">Management of workflows</a></h5>
            </div>
            <p>Cras ultricies ligula sed magna dictum porta, Sed ut perspiciatis unde omnis iste natus error sit voluptat</p>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 mt-5 mt-lg-0">
        <div class="post">
          <div class="post-image">
            <img src="{% static 'images/blog/03.jpg' %}" alt="">
            <div class="post-date">23 April, 2019</div>
          </div>
          <div class="post-desc">
            <div class="post-title">
              <h5><a href="blog-details-right-sidebar.html">industrial profits grow</a></h5>
            </div>
            <p>Cras ultricies ligula sed magna dictum porta, Sed ut perspiciatis unde omnis iste natus error sit voluptat</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!--blog end-->