
{% load static %}
{% load i18n %}




<!--hero section start-->





<section class="banner p-0 position-relative fullscreen-banner" id="home">
  <div class="banner-slider owl-carousel no-pb" data-sdots="false">
    <div class="item" data-bg-img="{{ hero.background_image.url }}" data-overlay="7"></div>
  </div>
  <div class="align-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 d-md-flex align-items-start">
          <img id="bnr-logo" class="img-fluid" src="{{ hero.logo_m_image.url }}" alt="">
          {% if hero %}
          <div class="ms-md-8 mt-5 mt-md-0">
            <h1 class="text-white mb-4">{{ hero.title|safe }}</h1>
            <p class="lead text-white">{{ hero.subtitle|safe }}</p>
            {% if hero.button_text %}
          <a class="btn btn-theme btn-radius " href="{{ hero.button_link }}">{{ hero.button_text }}</a>
          <a class="btn btn-border btn-radius " href="{{ hero.button_link }}">{{ hero.button_text }}</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
