
{% load static %}
{% load i18n %}


<!--feuture start-->

<section class="dark-bg text-center" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="section-title">
          <h2 class="title">{% trans "Our" %} <span> {% trans "Services" %}</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel" data-items="3" data-md-items="2" data-sm-items="1" data-xs-items="1" data-margin="30">
          {% for service in services %}
          <div class="item">
            <div class="service-item">
              <div class="service-images">
                <img class="img-fluid" src="{{ service.icon_class }}" alt="">
                <div class="service-icon"> <i class="flaticon-industrial-robot"></i>
                </div>
              </div>
              <div class="service-description">
                <h4>{{ service.title }}</h4>
                <p>{{ service.description|safe }}</p>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>



<!--feuture end-->