
{% load static %}
{% load i18n %}






<footer class="footer footer-2 pt-5 mt-0 dark-bg position-relative" id="contact">
  <div class="primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6" style="margin-top: -24px;">
          <div class="footer-logo mb-3" style="margin-left: -30px;">
            <a class="navbar-brand logo d-flex align-items-center" href="/">
              {% if footer.logo %}
              <img id="logo-img" class="img-fluid" src="{{ footer.logo.url }}" alt="Logo">
              {% endif %}
              <span class="site-name">{{ footer.site_name }}</span>
            </a>
          </div>
          <p class="mb-3">{{ footer.description }}</p>
<!--          <ul class="list-unstyled working-hours clearfix">-->
<!--            <li><span>{{ footer.working_days }}</span> {{ footer.working_hours }}</li>-->
<!--            <li><span>Sunday</span> {{ footer.sunday_hours }}</li>-->
<!--          </ul>-->
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0 footer-list ps-md-5">
          <h5>{% trans "Quick" %} <span class="text-theme"> {% trans "Link" %}</span></h5>
          <ul class="list-unstyled">
            {% for link in footer.quick_links %}
            <li><a href="{{ link.url }}"><i class="fas fa-angle-right"></i> {{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-list">
          <h5>{% trans "Our" %} <span class="text-theme"> {% trans "Services" %}</span></h5>
          <ul class="list-unstyled">
            {% for sol in footer.solutions %}
            <li><a href="{{ sol.url }}"><i class="fas fa-angle-right"></i> {{ sol.title }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 widget">
          <h5>{% trans "Recent" %} <span class="text-theme"> {% trans "Post" %}</span></h5>
          <div class="recent-post mb-0">
            <ul class="list-unstyled">
              {% for post in footer.recent_posts %}
              <li class="mb-3">
                <div class="recent-post-thumb">
                  <img class="img-fluid" src="{{ post.image }}" alt="">
                </div>
                <div class="recent-post-desc"> <a href="{{ post.url }}">{{ post.title }}</a>
                  <span>{{ post.date }}</span>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="row g-0 mt-5 box-shadow">
        <div class="col-md-4">
          <div class="p-5 text-center footer-media theme-bg border-0"> <span>{% trans "Address:" %}</span>
            <p class="mb-0">{{ footer.address }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-5 text-center footer-media dark-bg border border-dark"> <span>{% trans "Phone:" %}</span>
            <a href="tel:{{ footer.phone }}" dir="ltr">{{ footer.phone }}</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-5 text-center footer-media theme-bg border-0"> <span>{% trans "Email:" %}</span>
            <a href="mailto:{{ footer.email }}">{{ footer.email }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="secondary-footer">
    <div class="container">
      <div class="copyright">
        <div class="row text-center">
          <div class="col-md-12">
            <span>{{ footer.copyright_text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--footer end-->

